<!DOCTYPE html>
<!-- HTML5 Hello world by kirupa - http://www.kirupa.com/html5/getting_your_feet_wet_html5_pg1.htm -->
<html ng-app="myApp">

<head>
<meta charset="utf-8">
<title>Shopping App</title>
<script type="text/javascript" src="angular.min.js"></script>
<script type="text/javascript" src="app.js"></script>
</head>

<body>
<h1>My Shopping App</h1>

<section ng-controller="myCtrl as ctrl">
    <div ng-repeat="item in items">
        {{item}}
    <span ng-click="removeItem($index)">&times;</span></div>
<br>
    <div>
        <input ng-model="aItem">
        <button ng-click="addItem()">ADD</button>
    </div>
    <p>{{errortext}}</p>
</section>

</body>
</html>
